@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------ */
/* WRITE YOUR CSS HERE :) */
/* ------------------------------------ */

h1 , h2 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #282829;
    background-color: #f4f8fd;
}

header {
    background-color: #2c3136;
    color: #fff;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}

header p {
    color: #a0c4ff;
}

.container {
    max-width: 900px;  
    width: 45%;       
    margin: 0 auto;    
    text-align: justify;
}

nav {
    background-color: #313438;
    padding: 5px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #a0c4ff;     
    text-decoration: none; 
    font-size: 15px;
    font-weight: bold;
    padding: 7.5px 10px;       
    border-radius: 5px;     
    display: inline-block;   
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #1e66af;
    text-decoration: underline;
}

nav ul li a:active {
    color: #ffffff;
    background-color: #08437e;
}

.container h2 {
    color: #2c3136;
    padding-bottom: 10px;
    border-bottom: 2px solid #3182ce; 
}

section {
    margin-bottom: 40px;
}

.highlight {
    background-color: #e4f6ff; 
    padding: 10px;
    border-left: 5px solid #007bff; 
    font-style: oblique;
    margin-top: 25px;
}

.tool-card {
    background-color: #f7f7f7;
    padding: 25px 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px #d3cbcb;
}

.tool-card h3 {
    color: #1fa738;
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}

thead th {
    background-color: #007bff; 
    color: white;              
    text-align: left;
    padding: 15px;
}

th, td {
    padding: 15px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #c8e3f0; 
}